/* Tailwind CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

.post p {
    margin-top: 1.5rem;
}
.post h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    letter-spacing: -0.025em;
    font-weight: 700;
    margin-top: 1.5rem;
}
.post h3 {
    font-size: 1.2rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    letter-spacing: -0.025em;
    font-weight: 700;
    margin-top: 1.5rem;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
